package {{package}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.data.jpa.repository.config.EnableJpaAuditing;

/**
 * Main application class for {{name}}.
 * <p>
 * This application uses:
 * - Auth0 for authentication
 * - AWS services for cloud infrastructure
 * - Temporal for workflow orchestration
 * - Datadog for monitoring
 * </p>
 */
@SpringBootApplication
@EnableJpaAuditing
public class ApplicationMain {

    public static void main(String[] args) {
        SpringApplication.run(ApplicationMain.class, args);
    }
} 