package {{package}}.activity;

import io.temporal.activity.ActivityInterface;
import io.temporal.activity.ActivityMethod;

/**
 * Sample Temporal activity interface.
 * Activities are the building blocks of workflows and represent the actual work to be done.
 */
@ActivityInterface
public interface SampleActivity {

    /**
     * The main activity method that performs the actual work.
     * 
     * @param input The input parameter for the activity
     * @return The result of the activity execution
     */
    @ActivityMethod
    String execute(String input);
} 