package {{package}}.exception;

/**
 * Exception thrown when a requested resource is not found.
 * Used to trigger 404 Not Found responses in REST controllers.
 */
public class ResourceNotFoundException extends RuntimeException {

    public ResourceNotFoundException(String message) {
        super(message);
    }

    public ResourceNotFoundException(String resourceName, String fieldName, Object fieldValue) {
        super(String.format("%s not found with %s: '%s'", resourceName, fieldName, fieldValue));
    }
} 